*{
    box-sizing: border-box;

}
/* EXTRA SMALL */
@media (min-width: 6px) {
    .col-4 {
        max-width: 100%;
        padding: 0;
    }
    body{
        background-color: #f0f0f0;
        text-align: center;
    }
    div#logo-box.container{
        padding:0;
    }
    .full  {
        width: 100%;
    }
    .row    {
        display: block;
    }
    #grey-bg, #grey-bg-2{
        background-color: #f0f0f0;
    }
    #grey-bg, #grey-bg-2 {
        height: 4em;
    }
    #white-bg{
        height: 7em;
        background-color: white;
    }
    #logo {
        width: 40%;
        height: auto;
        position: relative;
        /*left: 30%;messing with positioning for some reason.*/
        top: -35%;
    }
    #title-box{
        background-color: #f0f0f0;
        font-family: 'Abel', sans-serif;
    }
    #title-box h1{
        text-align: center;
        margin-bottom: 5%;
        font-size: 3.5em;
        position:relative;
        left:.5em;
    }
    #title-box ul{
        text-align:center;
        padding-left: 0;
    }
    ul#nav-links li{
        display:inline;
        padding:5%;
    }
    #vd-box{
        background-color: #f0f0f0;
        font-family: 'Anton', sans-serif;
        height: 168px;
        width: 531px;
        text-align:center;
        position:relative;
        left:1.5em;

    }
    #vd-text {

    }

    #vd-box h1 {
        text-align: center;
        margin-bottom: 5%;
        margin-top:12%;
        font-size:4.4em;
        margin-right:0;

    }
    #vd-box h2{
        text-align: center;
        margin-bottom: 10%;
        font-size: 2.5em;
    }
    #circle-grid{
        font-family: 'Anton', sans-serif;
        margin-top: 9em;
        margin-left: 0;
    }
    #circle-grid h1 {
        text-align: center;
        margin-bottom: 5%;
        margin-top:12%;
        font-size:4em;
    }
    .col{
        text-align: center;
        width:10em;
        height:10em;
        float:left;
        margin:5%;
        border:1em solid white;
        border-radius:95%;
    }
    #top-left{
        background-color: #D55F46;
    }
    #top-right{
        background-color: #DEA03D;
    }
    #bottom-left{
        background-color: #88AE74;
    }
    #bottom-right{
        background-color: #4BA8A9;
    }
    .dot {
        font-family: 'Anton', sans-serif;
        height: 12em;
        width: 12em;
        max-width: 12em;
        max-height: 12em;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        border: .75em solid white;
        text-align:center;
        color:white;
        font-size: 18px;
    }
    #bottom-left, #bottom-right{
        margin-top:1em;
        margin-left: 5px;
        margin-right: 5px;
    }
    #circle-grid h1{
        font-size:2.5em;
        line-height: 3.2em;
    }
    #circle-grid {

    }
    #selected-work{
        font-family: 'Abel', sans-serif;
        text-align: center;
        margin-top: 5em;
        margin-bottom: 3em;
    }
    #selected-work>h1{
        font-size:32px;
    }
    #apple-img{
        text-align: center;

    }
    #ipad-img{
        width: 80%;
        margin-right: auto;
        border: 1em #e6e6e6;
        border-radius: 1em;
    }
    .navdot {
        font-family: 'Anton', sans-serif;
        height: 4em;
        width: 4em;
        /*max-width: 2em;*/
        /*max-height: 2em;*/
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        text-align:center;
        /*margin-left: .5em;*/
        /*margin-right: .5em;*/
        color:white;
        font-size: 12px;
        margin: 0;
    }
    #navdot1 {
    background-color:#D55F46;
    }
    #navdot2{
    background-color:#DEA03D;
    }
    #navdot3{
    background-color:#88AE74;
    }
    #navdot4{
    background-color: #4BA8A9;
    }
    .navbar{
        background-color: #f0f0f0;
        margin-top: 1em;
        margin-bottom: 5em;
    }
    .navdot>h1{
        font-size: 24px;
        line-height: 2em;
        color:black;
    }
    #nav-float {
        margin-top: 2em;
    }
    .bottom-nav{
        width:100%;
        margin-top: 1em;
        margin-bottom: 5em;
    }
    .bottom-nav h3{
        font-family: 'Abel', sans-serif;
        float:left;
        margin-left:1em;
        font-size:32px;
        line-height:48px;
    }
    #nav-links2{
        display:none;
    }
    #nav-links3{
        display:none;
    }

}
/* SMALL */
@media (min-width: 576px) and (max-width:768px) {
    .col-4 {
    }
    div#logo-box.container{
        width:100%;
        margin:0;
        max-width:none;
    }
    div#white-bg.row.full{
        margin-left:0;
        margin-right:0;
    }
    #nav-links2 {
        display:inline;
    }
    #nav-links2 li{
        list-style: none;
        display:inline;
    }
    #nav-links3 {
        display:inline;
    }
    #nav-links3 li{
        list-style: none;
        display:inline;
    }
    #nav-links{
        display:none;
    }
    #logo {
        width: 25%;
        height: auto;
        position: relative;
        /*left: 30%;messing with positioning for some reason.*/
        top: -35%;
    }
    #vd-box h1 {
        text-align: center;
        margin-bottom: 5%;
        margin-top:12%;
        font-size:2.3em;
        font-family: 'Anton', sans-serif;
    }
    #vd-box {
        position:relative;
        left:15%;
    }
    div#white-bg.full{

    }
    #white-bg {
        background-color: white;
        line-height: normal;
    }
    #top-left{
        background-color: #D55F46;
        margin-left: 2px;
        margin-right: 2px;
    }
    #top-right{
        background-color: #DEA03D;
        margin-left: 2px;
        margin-right: 2px;
    }
    #bottom-left{
        background-color: #88AE74;
        margin-left: 2px;
        margin-right: 2px;
    }
    #bottom-right{
        background-color: #4BA8A9;
        margin-left: 2px;
        margin-right: 2px;
    }
    .dot {
        font-family: 'Anton', sans-serif;
        height: 7em;
        width: 7em;
        max-width: 7em;
        max-height: 7em;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        border: 7px solid white;
        text-align:center;
        margin-left: 1em;
        margin-right: 1em;
        color:white;
    }
    #circle-grid h1 {
        text-align: center;
        margin-bottom: 5%;
        margin-top:12%;
        font-size:1.5em;
    }
    body{

    }
    * {
        font-family: 'Abel', sans-serif;
        margin:0;
        padding:0;
    }
    .row{margin:0;}
    #circle-grid {
        margin-top:0;
        margin-left: 1.5em;
    }
    .bottom-nav{
        display: none;
    }
    #apple-img{
        display: none;
    }
    .navdot {
        font-family: 'Anton', sans-serif;
        height: 2em;
        width: 2em;
        /*max-width: 2em;*/
        /*max-height: 2em;*/
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        text-align:center;
        /*margin-left: .5em;*/
        /*margin-right: .5em;*/
        color:white;
        /*font-size: 6px;*/
        margin: 0;

    }
    .navdot>h1{
        font-size: 9px;
        line-height: 24px;

    }
    div.card.float-left{
        margin: 5px
    }
    div.card.float-right{
        margin: 5px
    }
    #selected-work>h1{
        font-size: 16px;
    }
    p.card-text.d-inline{
        font-size: 12px;
    }
    div.card-body{
        padding: 0;

    }
}

/* MEDIUM */
@media (min-width: 769px) and (max-width:992px) {

    .col-4 {
        border: 5px solid black;
        background-color: blue;
    }
}
/* EXTRA LARGE */

@media (min-width: 1201px) {
    .col-4 {
        border: 5px solid black;
        background-color: yellow;
    }

}
